<form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-between h-[300px]">
    <div>
        <div class="w-full mb-4">
            <div class="flex flex-row items-center">
                <label for="password" class="block text-sm font-medium text-[#181818]">Password</label>
                <img src="/info_icon.png" alt="info" class="w-4 h-4 ml-1 filter-black"
                    matTooltip="The password must contain at least 8 characters, including an uppercase letter, a lowercase letter, a number, and a special character.">
            </div>
            <input type="password" id="password" formControlName="password" placeholder="*******"
                [ngClass]="{'border-red-500': resetPasswordForm.get('password')?.invalid && (resetPasswordForm.get('password')?.dirty || resetPasswordForm.get('password')?.touched)}"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]" required>
        </div>
        <div class="w-full mb-4">
            <label for="confirmPassword" class="block text-sm font-medium text-[#181818]">Confirm Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword" placeholder="*******"
                [ngClass]="{'border-red-500': resetPasswordForm.get('confirmPassword')?.invalid && (resetPasswordForm.get('confirmPassword')?.dirty || resetPasswordForm.get('confirmPassword')?.touched)}"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]" required>
        </div>
        <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
    </div>
    <div class="w-full">
        <button type="submit" [disabled]="resetPasswordForm.invalid || isLoading"
            class="w-full flex justify-center py-3 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-[#A11A29] hover:bg-[#961626] rounded-[12px]">
            {{ isLoading ? 'Resetting...' : 'Reset Password' }}
        </button>
    </div>
</form>