<div>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSignIn()">
        <div class="mb-4 max-w-[368.63px]">
            <label for="password" class="block text-sm font-medium text-[#181818]">Email</label>
            <input type="password" id="password" formControlName="password" placeholder="Enter your email"
                [class.invalid]="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]" required>
            <div class="error"
                *ngIf="resetPasswordForm.get('password')?.invalid && resetPasswordForm.get('password')?.touched">
                Password must be at least 8 characters.
            </div>
        </div>
        <div class="mb-4">
            <label for="password" class="block text-sm font-medium text-[#181818]">Password</label>
            <input type="password" id="confirmPassword" formControlName="confirmPassword"
                placeholder="Confirm your new password"
                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]"
                [class.invalid]="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched"
                required>
            <div class="error"
                *ngIf="resetPasswordForm.get('confirmPassword')?.invalid && resetPasswordForm.get('confirmPassword')?.touched">
                Confirm password is required.
            </div>
            <div class="error" *ngIf="errorMessage">{{ errorMessage }}</div>
        </div>
        <div class="w-full mb-2">
            <button type="submit" [disabled]="resetPasswordForm.invalid || isLoading"
                class="w-full flex justify-center py-3 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-[#A11A29] hover:bg-[#961626] rounded-[12px]">
                {{ isLoading ? 'Resetting...' : 'Reset Password' }}
            </button>
        </div>
        <div class="w-full">
            <button type="button"
                class="w-full flex justify-center items-center py-2 px-4 border border-gray-300 shadow-sm text-sm font-medium text-gray-700 bg-transparent hover:bg-gray-50 rounded-[12px]">
                <img src="/logo-google-sing-in.png" alt="Google Icon" class="mr-2 size-7"> Sign in with Google
            </button>
        </div>
    </form>
</div>