<div class="min-h-screen flex items-center justify-center bg-gray-100">
    <div class="bg-[#F8F8F8] flex flex-col rounded-2xl shadow-lg w-auto min-h-[524px]">
        <div class="bg-[#961626] w-full h-auto rounded-t-2xl px-14 py-8 flex flex-col items-center justify-center">
            <h1 class="text-5xl font-bold text-white">Marvel Journey</h1>
            <p class="text-white font-semibold text-base mt-1">{{welcomeMessage}}</p>
        </div>
        <div
            class="w-full min-h-[398px] h-full rounded-t-2xl flex flex-col items-center justify-between px-16 py-6 gap-4">
            <!-- signIn || forgotPassword || signUp -->
            <div class="w-full flex flex-col" *ngIf="currentView === 'signIn' || currentView === 'forgotPassword' || currentView === 'signUp'">
                <form class="w-full flex flex-col gap-4">
                    <div>
                        <div class="mb-4 max-w-[368.63px]">
                            <label for="email" class="block text-sm font-medium text-[#181818]">Email</label>
                            <input type="email" id="email" placeholder="Enter your email"
                                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]"
                                required>
                            <div *ngIf="currentView === 'forgotPassword'">
                                <span class="text-[#EA454C] text-xs mt-1">Please enter your email address. You will receive a verification code to reset your password.</span>
                            </div>
                        </div>
                        <div class="mb-4" *ngIf="showPasswordField">
                            <label for="password" class="block text-sm font-medium text-[#181818]">Password</label>
                            <input type="password" id="password" placeholder="*******"
                                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]"
                                required>
                        </div>
                        <div class="mb-4" *ngIf="currentView === 'signUp'">
                            <label for="confirmPassword" class="block text-sm font-medium text-[#181818]">Confirm password</label>
                            <input type="password" id="confirmPassword" placeholder="*******"
                                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]"
                                required>
                        </div>
                    </div>
                </form>
            </div>
            <!-- verificationCode -->
            <div class="w-full flex flex-col" *ngIf="currentView === 'verificationCode'">
                <form class="w-full flex flex-col gap-4">
                    <div class="mb-4 max-w-[368.63px]">
                        <label for="code" class="block text-sm font-medium text-[#181818]">Verification code</label>
                        <input type="number" id="code" placeholder="Enter the code you received"
                            class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]"
                            required>
                        <div *ngIf="currentView === 'verificationCode'">
                            <span class="text-[#EA454C] text-xs mt-1">Please enter the verification code sent to your email</span>
                        </div>
                    </div>
                </form>
            </div>
            <!-- resetPassword -->
            <div class="w-full flex flex-col" *ngIf="currentView === 'resetPassword'">
                <form class="w-full flex flex-col gap-4">
                    <div>
                        <div class="mb-4">
                            <label for="password" class="block text-sm font-medium text-[#181818]">New password</label>
                            <input type="password" id="password" placeholder="*******"
                                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]"
                                required>
                        </div>
                        <div class="mb-4">
                            <label for="confirmPassword" class="block text-sm font-medium text-[#181818]">Confirm password</label>
                            <input type="password" id="confirmPassword" placeholder="*******"
                                class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]"
                                required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="w-full flex flex-col items-center justify-center">
                <div class="w-full flex items-center justify-between mb-1" *ngIf="currentView === 'signIn'">
                    <div class="flex items-center">
                        <input id="remember_me" type="checkbox" class="h-4 w-4 border-gray-300 rounded">
                        <label for="remember_me" class="ml-2 block text-sm text-gray-900">Remember me</label>
                    </div>
                    <div class="text-sm">
                        <button type="button" (click)="goToForgotPassword()">
                            <p class="font-medium text-[#EA454C]">Forgot password?</p>
                        </button>
                    </div>
                </div>
                <div class="w-full mb-2">
                    <button type="submit" (click)="onSubmit()"
                        class="w-full flex justify-center py-3 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-[#A11A29] hover:bg-[#961626] rounded-[12px]">
                        {{redButtonLabel}}
                    </button>
                </div>
                <div class="w-full" *ngIf="currentView === 'signIn' || currentView === 'signUp'">
                    <button type="button"
                        class="w-full flex justify-center items-center py-2 px-4 border border-gray-300 shadow-sm text-sm font-medium text-gray-700 bg-transparent hover:bg-gray-50 rounded-[12px]">
                        <img src="/logo-google-sing-in.png" alt="Google Icon" class="mr-2 size-7"> Sign in with
                        Google
                    </button>
                </div>
                <div *ngIf="currentView !== 'signIn' && currentView !== 'signUp'" class="w-full">
                    <button type="button" (click)="goToLogin()"
                        class="w-full flex justify-center py-3 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-[#A11A29] hover:bg-[#961626] rounded-[12px]">
                        Back
                    </button>
                </div>
                <div *ngIf="currentView === 'signIn' || currentView === 'forgotPassword' || currentView === 'signUp'">
                    <p class="text-center text-sm text-black mt-3">
                        Don't have an account? <a class="font-medium text-[#EA454C] hover:text-[#961626] cursor-pointer"
                            (click)="onAction()">{{action}}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>