<form [formGroup]="verificationCodeForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-between h-[308px]">
    <div class="w-full mb-4">
        <label for="code" class="block text-sm font-medium text-[#181818]">Verification code</label>
        <input type="text" id="code" formControlName="code" placeholder="Enter the code you received"
            [ngClass]="{'border-red-500': verificationCodeForm.get('code')?.invalid && (verificationCodeForm.get('code')?.dirty || verificationCodeForm.get('code')?.touched)}"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]" required>
        <div class="error text-base text-red-500" *ngIf="errorMessage">
            {{ errorMessage }}
            <button *ngIf="showResendButton" (click)="resendCode($event)" id="resendButton"
                class="text-red-500 underline">Send again</button>
        </div>
    </div>
    <div>
        <div class="w-full mb-2">
            <button type="submit" [disabled]="verificationCodeForm.invalid || isLoading"
                class="w-full flex justify-center py-3 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-[#A11A29] hover:bg-[#961626] rounded-[12px]">
                {{ isLoading ? 'Verifying...' : 'Verify code' }}
            </button>
        </div>
        <div class="w-full mb-2">
            <button type="button" (click)="onBack()"
                class="w-full flex justify-center items-center py-3 border border-gray-300 shadow-sm text-sm font-medium text-gray-700 bg-transparent hover:bg-gray-50 rounded-[12px]">
                Back
            </button>
        </div>
    </div>
</form>