<form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="flex flex-col justify-between h-[332px]">
    <div class="mb-4 w-full">
        <label for="email" class="block text-sm font-medium text-[#181818]">Email</label>
        <input type="email" id="email" formControlName="email" placeholder="Enter your email"
            class="mt-1 block w-full px-3 py-2 border border-gray-300 shadow-sm sm:text-sm rounded-[12px]" required>
        <div class="error" *ngIf="forgotPasswordForm.get('email')?.invalid && forgotPasswordForm.get('email')?.touched">
            Please enter a valid email.
        </div>
    </div>
    <div>
        <div class="w-full mb-2">
            <button type="submit" [disabled]="forgotPasswordForm.invalid || isLoading"
                class="w-full flex justify-center py-3 px-4 border border-transparent shadow-sm text-sm font-medium text-white bg-[#A11A29] hover:bg-[#961626] rounded-[12px]">
                {{ isLoading ? 'Sending...' : 'Send Code' }}
            </button>
        </div>
        <div class="w-full mb-2">
            <button type="button" (click)="onSignInWithGoogle()"
                class="w-full flex justify-center items-center py-2 px-4 border border-gray-300 shadow-sm text-sm font-medium text-gray-700 bg-transparent hover:bg-gray-50 rounded-[12px]">
                <img src="/logo-google-sing-in.png" alt="Google Icon" class="mr-2 size-7"> Sign in with Google
            </button>
        </div>
        <div>
            <p class="text-center text-sm text-black mt-3">
                Don't have an account? <a (click)="onSignUp()"
                    class="font-medium text-[#EA454C] hover:text-[#961626] cursor-pointer">Sign up</a>
            </p>
        </div>
    </div>
</form>